<mat-toolbar class="example-toolbar" fxLayout='row' [class.mat-elevation-z8]="isActive">
  <div fxLayout='row' fxFlex fxLayoutAlign="none center">

    <div style='cursor: pointer' (click)="navigate('dashboard')">
      <img src='../../../assets/images/logo.png'>
    </div>
    <div fxFlexOffset='1.875em'>
      <mat-form-field fxFlex='530px' fxFlex.md='280px' fxFlex.sm='200px' fxFlex.xs='100px' [style.font-size.px]="'13'"
        appearance="outline" id='search-input'>

        <input matInput>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="heightFitContent fontFamily" fxFlexOffset='1.875em'>
      Datasets
    </div>
    <!-- <div class="heightFitContent fontFamily" fxFlexOffset='1.875em'>

      <button class="fontFamily" mat-button [matMenuTriggerFor]="menu">DS Treasure <mat-icon>keyboard_arrow_down
        </mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="heightFitContent fontFamily" fxFlexOffset='1.875em'>
      Price
    </div> -->
  </div>
  <!-- <div class="heightFitContent">
    <button mat-button>Hello,Sign in
      <mat-icon>account_circle
      </mat-icon>
    </button>

  </div> -->
</mat-toolbar>