.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-toolbar {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 10px -10px #bbbaba;
  -moz-box-shadow: 0 10px 10px -10px #bbbaba;
  box-shadow: 0 10px 10px -10px #bbbaba;
  z-index: 2;
  height: 4.2em;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.1em !important;
  }

  // ::ng-deep .mat-form-field {
  //   width: 530px;
  // }
}
.heightFitContent {
  height: fit-content;
}

.fontFamily {
  font-family: Lato;
  font-weight: 500;
}

@media only screen and (max-width: 960px) {
  body {
    background-color: lightblue;
  }
}