<div  class='container'>
  <div class="insideHeader" fxLayout fxLayoutAlign="space-between center">
    <div style='cursor: pointer' (click)="navigate()">
      <img src='../../../assets/images/logo.png'>
    </div>
    <div>
      <mat-form-field [style.font-size.px]="'14'" appearance="outline" id='search-input'>
        <mat-label>Search</mat-label>
        <input matInput >
      </mat-form-field>
    </div>
    <div class='submit-button' (click)="navigate('submitdataset')">
      + Submit Dataset
  </div>
</div>
