<app-header [wholeHeader]=true></app-header>
<div style="width: 100%; max-width: 100%;">
  <img style="width:100%" src="../../../assets/images/aboutTeam.png" alt="aboutTeam">
</div>
<div>
  <div class="sepraters"  [ngStyle.lg]="{'padding': '40px 200px'}" [ngStyle.xs]="{'padding': '0 20px'}" [ngStyle]="{'padding': '0 40px'}" [ngStyle.sm]="{'padding': '0 30px'}">
    <span class="testimonial_title">Behind Our Story</span>
    In 2016, we organized a local meetup event. Sparks flew.
     Mitul & Mayuresh were building a data science team for a yet to be launched product. We noticed that it was remarkably HARD to 
     hire. Gap was not just numbers but quality. Alongside Shweta, we were organizing events to cater to our own talent needs

  </div>
  <div class="sepraters sepraterColor"  [ngStyle.lg]="{'padding': '40px 200px'}" [ngStyle.xs]="{'padding': '0 20px'}" [ngStyle]="{'padding': '0 40px'}" [ngStyle.sm]="{'padding': '0 30px'}">
    <span class="testimonial_title">What we do</span>
    We are an edtech company. We have built a platform to change the way we learn technology. 
    To provide an enriching ecosystem for enabling and skilling learners from across the globe in areas of emerging tech thereby helping them get in-demand jobs. 
    We upskill learner on our GreyAtom Learning Platform - ‘GLabs’ with programs that are online, mentor led & practice centered.

  </div>
  <div class="sepraters"  [ngStyle.lg]="{'padding': '40px 200px'}" [ngStyle.xs]="{'padding': '0 20px'}" [ngStyle]="{'padding': '0 40px'}" [ngStyle.sm]="{'padding': '0 30px'}">
    <span class="testimonial_title">Where are we today</span>
    Our mission is to democratize emerging tech education by building the platform that guarantees learning outcomes for all learners. 
    We are aiming to impact 5+ million of learners in the next 2 years.

  </div>
</div>
<app-footer></app-footer>