
 .testimonial_title {
    display: block;
    margin-bottom: 30px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.23077;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-align: center;
    color: #292A2D;
}
.sepraters{
    text-align: center;
font-size: 16px;
}
.sepraterColor{
    background-color: #f3f3f7;
}