<div class="datasetsMain">
  <div fxLayout='row' class="arrowFlow">
    <span fxLayout='row' class="notselect">
      User Report
      <mat-icon>keyboard_arrow_right</mat-icon>
    </span>
    <span fxLayout='row' class="notselect">
      User name
      <mat-icon>keyboard_arrow_right</mat-icon>

    </span>
    <span fxLayout='row' class="select">
      Intances
    </span>
  </div>
  <div style="padding: .8em 0;" fxLayout='row' fxLayoutAlign='space-between center'>
    <div class="intancesText">
      Intances
    </div>
    <div>
      <button class="endButton" mat-stroked-button>End VM</button>
      <button fxFlexOffset='10px' class="addButton" mat-stroked-button>
        <mat-icon>add</mat-icon> Add VM
      </button>
    </div>
  </div>
  <div style="background-color: white;" fxLayout fxLayoutAlign='start center'>
    <div class="search-div" fxFlex='30' fxFlex.md='40' fxFlex.sm='50'>
      <mat-icon class="search-icon">search</mat-icon>
      <input fxFlex class="search" matInput placeholder="Search" [(ngModel)]="Search" (keyup)="lookUp()"
        autocomplete="off">
    </div>
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon class='filterIcon'>filter_list</mat-icon>
    </button>
  </div>
  <div class="tableMain">
    <table mat-table [dataSource]="dataSource">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row ; let i = index;">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row,i)">
            </mat-checkbox>
          </td>
        </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> DATASET NAME </th>
        <td mat-cell *matCellDef="let element ; let i = index;"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="endPoint">
        <th mat-header-cell *matHeaderCellDef> END POINT </th>
        <td mat-cell *matCellDef="let element ; let i = index;"> {{element.endPoint}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> MACHINE STATUS </th>
        <td mat-cell [style.color]="'#B22222'" *matCellDef="let element ; let i = index;"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> USED </th>
        <td mat-cell *matCellDef="let element ; let i = index;"> {{element.symbol}} </td>
      </ng-container>
 <!-- Star Column -->
 <ng-container matColumnDef="star" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon>more_vert</mat-icon>
    </td>
  </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    

  </div>

</div>