@import '../../scss/color.scss';
@import '../../scss/constant.scss';
$linehight:31px;
.datasetsMain {
  .arrowFlow {
    padding-top: 1em;

    .notselect {
      color: darkgrey;
    }

    .select {
      color: #404040;
    }
  }
.intancesText{
  font-size: $_heading_font_size;
  font-weight: $_heading_font_weight;
  color: $header_font_color;
}

.endButton{
  padding: 0 26px;
  color: $common_color;
  border-color: $common_color;
  line-height: $linehight;
  

}
.addButton{
  color: white;
  border-color: $common_color;
  background-color: $common_color;
  line-height: $linehight;

}
.search-div {
  border-radius: 4px;
  height: 30px;
  // width: 375px;
  border-color: #b1b0b0;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  }
  .search-icon {
  position: absolute;
  color: #808080f0;
  margin-left: 5px;
  }
  .filterIcon{
  color: #808080f0;

  }
  .search {
  border: none;
  margin-left: 40px;
  }
}

  .tableMain {
    // height: 400px;
    // overflow: auto;
   ::ng-deep .mat-table thead{
      background-color: #fafafa;
    }
    th{
      color: rgb(35, 86, 126) !important;

    }
  }
  
  table {
    width: 100%;
    .mat-column-name {
    color:  #4BB0FB;
    }
    .mat-column-endPoint {
      color:  #4BB0FB;
      }
  }
  ::ng-deep .mat-checkbox-layout{
    vertical-align: baseline !important;
  }